In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [3]:
df = pd.read_csv('D:\\Programming\\Motorq\\ds_assement_2026_summer_intern\\Task_1\\parsed_vehicle_data.csv', dtype={'statusTimestamp': str})

In [5]:
df['statusTimestamp'] = pd.to_datetime(df['statusTimestamp'], format='%Y%m%d%H%M%S.%f')

In [6]:
df.head()

,statusTimestamp,pollerFetchTime,speed,odometer,ignStatus,VIN,gasLevel
0,2025-07-05 14:32:10,1751725939315,0.0,28082.6,1.0,MASKEDVIN003,24.0
1,2025-07-08 17:00:37,1751994040672,28.0,28605.6,1.0,MASKEDVIN003,100.0
2,2025-07-06 18:14:14,1751825658365,0.0,28443.6,0.0,MASKEDVIN003,37.0
3,2025-07-08 20:43:14,1752007396151,55.0,28902.2,1.0,MASKEDVIN003,72.0
4,2025-07-05 20:23:26,1751747010652,0.0,28275.5,1.0,MASKEDVIN003,63.0

In [7]:
df.shape

(781942, 7)

In [ ]:
def remove_conflicting_messages(df):
    """
    Removes duplicate/conflicting messages with the same statusTimestamp.
    Keeps only the first message (by pollerFetchTime) for each statusTimestamp.
    """
    df_sorted = df.sort_values(['statusTimestamp', 'pollerFetchTime'])
    # Drop duplicates, keeping the first (earliest pollerFetchTime)
    df_2 = df_sorted.drop_duplicates(subset=['statusTimestamp'], keep='first')
    return df_2.reset_index(drop=True)

In [9]:
new_df = remove_conflicting_messages(df)

In [11]:
new_df.head()

,statusTimestamp,pollerFetchTime,speed,odometer,ignStatus,VIN,gasLevel
0,2025-07-01 09:21:33,1751383288456,0.0,47685.127066,1.0,MASKEDVIN013,31.0
1,2025-07-01 14:01:12,1751378474562,0.0,14634.900000,0.0,MASKEDVIN002,19.0
2,2025-07-01 14:04:02,1751378644554,0.0,14634.900000,0.0,MASKEDVIN002,19.0
3,2025-07-01 14:14:40,1751379281772,0.0,19939.100000,0.0,MASKEDVIN012,59.0
4,2025-07-01 14:17:30,1751379459673,0.0,19939.100000,0.0,MASKEDVIN012,59.0

In [10]:
new_df.shape

(514992, 7)